/* Css document by Svein Erik Storkaas - CssTemplatesWeb.com | 2008 */

* {
 padding: 0;
 margin: 0;
}
body {
 font-family: Arial, Helvetica, sans-serif;
 color: #666666;
 font-size: 12px;
 background-image:url(images2/bg-tile.gif);
 background-repeat:repeat;
}
#wrapper {
 width: 782px;
 margin: 0 auto;
}
#border {
 border: 1px solid #8ECE5F;
 margin: 20px 0px 5px 0px;
 background-color: #fffffe;
 min-height: 776px;
 float: right;
 width: 780px;
}
* html #border {height:776px} /* IE Min-Height Hack */ 

#header {
 margin: 6px 5px 3px 5px; 
 background-image:url(images2/header.jpg);
 background-repeat:no-repeat;
 height:160px;

}

#headertext
{
	width:180px;
	height:40px;
	font-family:"Trebuchet MS";
	font-size:30px;
	color:#71c15c;
	margin:0px 0px 0px 50px;
	float:left;
	clear:none;
}

#headertextsmall
{	
	width:250px;
	height:30px;
	font-family:"Trebuchet MS";
	font-size:20px;
	color:#fff;			
	padding-right:50px;
	padding-top:60px;
	float:right;
	
}

/* ------------------------ Start Navigation Bar -----------------*/
#topmenu
{
height:46px;
width: 770px;
padding-left:5px;
background-repeat:no-repeat;
}

/*MEUNU*/
.glossymenu{
	position: relative;
	padding: 0 0 0 34px;
	margin: 0 auto 0 auto;
	background: url(images2/menug_bg.gif) repeat-x; /*tab background image path*/
	height: 46px;
	list-style: none;
}

.glossymenu li{
	float:left;
}

.glossymenu li a{
	float: left;
	display: block;
	color:#000;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding:0 0 0 16px; /*Padding to accomodate left tab image. Do not change*/
	height: 46px;
	line-height: 46px;
	text-align: center;
	cursor: pointer;	
}

.glossymenu li a b{
	float: left;
	display: block;
	padding: 0 24px 0 8px; /*Padding of menu items*/
}

.glossymenu li.current a, .glossymenu li a:hover{
	color: #fff;
	background: url(images2/menug_hover_left.gif) no-repeat; /*left tab image path*/
	background-position: left;
}

.glossymenu li.current a b, .glossymenu li a:hover b{
	
	background: url(images2/menug_hover_right.gif) no-repeat right top; /*right tab image path*/
}

/* ------------------------ End Navigation Bar -----------------*/


/* ------------------------ Start Images -----------------*/
img {
 display: inline;
 border: none;
}
img.block {
 display: block;
}
img.float {
 float: left;
 margin: 0px 14px 10px 0px;
}
/* ------------------------ End Images -----------------*/


/* ------------------------ Start Main Columns -----------------*/
#leftcolumn { /* Parent Wrapper for inside boxes */
 margin: 6px 0px 0px 4px;
 display: inline; /* IE Hack */
 width: 240px;
 float: left;
 background-image:url(images2/search-box.gif);
 background-repeat: no-repeat;
 min-height: 300px;
 padding: 0;

}
* html #leftcolumn {height:300px} /* IE Min-Height Hack */

.leftcolumn-inner { /* Parent Wrapper for inside boxes */
 display: inline; /* IE Hack */
 width: 220px;
 float: left;
 background-image:url(images2/search-box.gif);
 background-repeat: no-repeat;
 min-height: 40px;
 padding: 10px;
 margin-bottom: 7px;
}
* html .leftcolumn-inner {height:40px} /* IE Min-Height Hack */

.in-the-news { /* Parent Wrapper for inside boxes */
 display: inline; /* IE Hack */
 width: 235px;
 float: left;
 min-height: 125px;
 margin-bottom: 7px;
}
* html .in-the-news {height:125px} /* IE Min-Height Hack */


#rightcolumn {
/* border: 1px solid red;*/
 margin: 6px 0px 0px 0px;
 display: inline; /* IE Hack */
 width: 513px;
 float: left;
 min-height: 300px;
}
* html #rightcolumn {height:300px} /* IE Min-Height Hack */ 

#highlightnews {
 background-image:url(images2/highlightnews.jpg); 
 height:auto;
 background-repeat: no-repeat;
 text-align: left;
 padding: 17px 10px 10px 13px;
 display: inline; /* IE Hack */
 float: left;
 width: 510px; 
}


#highlightnews img
{
	float:left;
	padding-right:10px;	
}

* html .sponsor {height:80px} /* IE Min-Height Hack */

.maincontent {
 min-height: 80px;
 display: inline; /* IE Hack */
 float: left;
 margin-bottom: 7px;
 width: 530px;
}
* html .maincontent {height:80px} /* IE Min-Height Hack */

.content-mid {
 background-image:url(images2/content-mid.gif);
 background-repeat: repeat;
 padding: 5px 14px 5px 14px;
}
.content-mid img
{
	float:left;
	margin:3px 10px 14px 0px;
}
.left-mid {
 background-image:url(images2/left-mid.gif);
 background-repeat: repeat;
 padding: 5px 14px 10px 14px;
}
.randompicture
{
background-image:url(images2/left-mid.gif);
background-repeat: repeat;
text-align:center;
padding:5px 0px 5px 0px;
overflow:hidden;	
}

.left-heading {
 background-image:url(images2/left-heading.gif);
 background-repeat: no-repeat;
 padding: 9px 14px 5px 10px; 
}
.left-heading h3
{
	font-size: 16px;
 color: #fff;
 min-height: 11px;
 font-weight: bold;
}

* html .left-heading {height:11px} /* IE Min-Height Hack */
/* ------------------------ End Main Columns -----------------*/

/* ------------------------- Start Headings ---------------------*/
h1 {
 font-size: 16px;
 color: #72C236;
    background-color: #ccffff;
}
/* ------------------------- End Headings ---------------------*/

input {
 border: 1px solid #8ECE5F;
 width: 200px;
}



#footer {
 font-size: 10px;
 clear: both;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 margin-bottom: 5px;
 text-align:center;
}


ul#daily-links li {
 list-style: none;
 margin-left: 2px;
}
ul#nav-links li {
 display: inline;
 margin-left: 0px;
 padding-left: 12px;
 
}

ul#daily-links li a:link{
 color: #333;
 text-decoration: none;
 font-weight: bold;
}
ul#daily-links li a:visited{
 color: #333;
 text-decoration: none;
 font-weight: bold;
}
ul#daily-links li a:hover{
 color: #999;
 text-decoration: none;
 font-weight: bold;
}




a:link {
 color: #006600;
 text-decoration: none;
}
a:visited {
 color: #006600;
 text-decoration: none;
}

.valid {
 margin: 10px 0px 0px 10px;
}

